/* =========== GOOGLE FONTS =========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --main-color: #26C1F6;
    --secondary-color: #D9F5FF;
}



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background-color: var(--links-color-mobile);
}
.offcanvas-start{
    width: auto !important;
}





/* =========== SECTION ============  */

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 70%; */
    margin-top: 50px;
    margin-bottom: 30px;
}


.text h1{
    color: #171717;
    font-family: "Poppins";
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
}

.text span{
    color: var(--main-color);
}

.text p{
        color: #787878;
        font-weight: 600;
        margin-bottom: 10px;
}

.person .__BG img{
    width: 430px;
    border-bottom-left-radius: 20px;
}

.person .__BG{
    border-radius: 250px 0px 250px 250px;
    padding-left: 70px;
    width: 500px;
    height: 460px;
    background-color: var(--secondary-color);
    overflow: hidden;
}



/* =============About me============== */

.about .about-content{
    width: 75%;
}
.about .about-content .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content p{
    text-align: justify;
}
.about .about-content a{
     display: inline-block;
    /* background: crimson; */
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease-in-out; 
    
    
}
.about .about-content a:hover{
   color: #171717;
    background: var(--secondary-color);

} 




.portfolio {
    text-align: center;
    margin-top:3rem ;
}

.profile-pic {
    border-radius: 50%;
    border: 5px solid var(--main-color); 
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    border-radius: 50%;
    margin: 15px 15px 0 0;
    transform: scale(115%);
}

p{
color:#787878;
font-size:18px;
}  
.social-links a img {
    margin: 0 10px;
    width: 25px;
}

.social-links a:hover {
  color: #3498; }


/* ==About end==*/


/* =============Portfolio============= */

/* .image-wrapper {
    height: 20rem;
    margin: 0 auto;
  } */
  .image-wrapper img {
    max-width: 100%;
    width: calc(200px, 100%);
    max-height: 100%;
  } 


  /* skills section styling */


.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    /* margin-bottom: 10px; */
}
.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .right .bars{
    /* margin-bottom: 15px; */
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--main-color);
}
.skills-content .right .html::before{
    width: 100%;
}
.skills-content .right .css::before{
    width: 80%;
}
.skills-content .right .js::before{
    width: 75%;
}
.skills-content .right .rj::before{
    width: 75%;
}
.skills-content .right .nd::before{
    width: 65%;
}
.skills-content .right .lar::before{
    width: 50%;
}
.skills-content .right .ai::before{
    width: 25%;
}
.skills-content .right .bld::before{
    width: 50%;
}
 
   


.testimonial-pic {
    border-radius: 50%;
    border: 5px solid var(--main-color); 
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
}
.testimonial-pic img {
    width: auto;
    height: auto;
    /* object-fit:scale-down;
    border-radius: 50%;
    margin: 15px 15px 0 0;
    transform: scale(115%); */
}
#testimonial .testimonial-paragraph{
    width: 80%;
    margin: 0 auto;
}


#testimonial .double-quote{
    margin: 0 auto;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}
@media screen and (width<=992px) {

    .offcanvas-start{
        width: 400px !important;
    }
    
    
    
    .content{
        flex-direction: column;
    }

    .person{
        margin-top: 20px;
    }
    .person .__BG{
        width: 290px;
        height: 320px
    }

    .person .__BG img{
        width: 220px;
    }
    .text h1{
        font-family: Poppins;
        font-size: 40px;
        line-height: 40px;
    }

    p{
        font-size: 14px;
    }



    .about .about-content{
        width: 95%;
    }
    .skills .skills-content .column{
       width: 90%;
    }
    .image-wrapper {
        height: auto;
        margin: 0 auto;
      }
}


/* @media screen and (min-width: 577px) {
    .cards-wrapper {
      display: flex;
    }
    .card {
      margin: 0 0.5em;
      width: calc(100% / 2);
    }
  
  } */
  /* @media screen and (max-width: 576px) {
    .card:not(:first-child) {
      display: none;
    }
  }*/
